.container{
    display: grid;
    grid-template-rows: repeat(4,60px);
    grid-template-columns: 60px 60px 60px 60px 60px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: none;
} 
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    background-color: rgb(173, 229, 231);
}
.box{
    padding: 30px !important;
    border-radius: 15px; 
    background-color: azure;
}
.screen{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom:none;
    border: 1px solid lightgray;
    
}
.enter{
    grid-column-start: 4;
    grid-column-end: -1;
}
.btn{
    border: none
}
.main{
    text-align: right;
}
.heading{
    text-align: center;
    font-size: 45px;
}